<?xml version="1.0" encoding="UTF-8"?> 
<configuration status="OFF"> 
  <appenders> 
    <Console name="Console" target="SYSTEM_OUT"> 
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/> 
    </Console>
    <File name="File-Info" fileName="log/Info.log"> 
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/> 
    </File>
    <File name="File-Util" fileName="log/Util.log"> 
      <PatternLayout pattern="%d{HH:mm:ss.SSS} [%t] %-5level %logger{36} - %msg%n"/> 
    </File>
  </appenders> 
  <loggers>
    <logger name="cn.edu.fudan.admis.mt.info.Info" level="DEBUG" additivity="false">  
      <appender-ref ref="File-Info"/>  
    </logger>
    <logger name="cn.edu.fudan.admis.mt.util.Util" level="DEBUG" additivity="false">  
      <appender-ref ref="File-Util"/>  
    </logger>
    <root level="INFO"> 
      <appender-ref ref="Console"/> 
    </root> 
  </loggers> 
</configuration>